<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  
<meta charset="UTF-8"/>
    <title>Student form</title>
</head>
<body>
<h2 th:text="${diem1}">Điểm Đội 1 :</h2>
<table>
    <tr>

    </tr>
    <tr>
        <td  >Quan</td>
        <td th:text="${u25}" ></td>
        <td th:text="${u24}" ></td>
        <td th:text="${u23}" ></td>
        <td th:text="${u22}" ></td>
        <td th:text="${u21}" ></td>

        <td>Quan</td>

    </tr>
    <tr>
        <td th:text="${Q1}"></td>
        <td th:text="${u11}" ></td>
        <td th:text="${u12}" ></td>
        <td th:text="${u13}" ></td>
        <td th:text="${u14}" ></td>
        <td th:text="${u15}" ></td>

        <td th:text="${Q2}"></td>

    </tr>

    <tr>

    </tr>
</table>
<h2 th:text="${diem2}">Diểm Đội 2:</h2>

</body>
</html>
